@import 'support';

*{
    font-family: 'Quicksand';
    font-weight: 500;
}
$container: 1201px + 30px;

.wrapper {
    display: flex;
    flex-direction: column;
}
.content {
    display: flex;
    flex-direction: column;
}

.container {
    max-width: $container;
    margin: auto;
    width: 100%;
    padding: 0 15px;
}

.row {
    display: flex;
}

.column {
    flex: 0 1;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

html {
    font-size: 14px;
    @media (max-width:1000px){
        font-size: 12px;
    }

    @media (max-width:600px){
        font-size: 10px;
    }
}
body {
    overflow-x: hidden;
    &.lock {
        overflow-y: hidden
    }
}